<!DOCTYPE html>
<!--[if IE 7]>
<html class="ie ie7 no-js" lang="en-US">
<![endif]-->
<!--[if IE 8]>
<html class="ie ie8 no-js" lang="en-US">
<![endif]-->
<!--[if !(IE 7) | !(IE 8)  ]><!-->
<html lang="en" class="no-js" style="overflow-x: hidden;">
<head>
	<!-- Basic need -->
	<title>Open Pediatrics</title>
	<meta charset="UTF-8">
	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta name="author" content="">
	<link rel="profile" href="#">

    <!--Google Font-->
    <link rel="stylesheet" href='http://fonts.googleapis.com/css?family=Dosis:400,700,500' />
	<link rel="stylesheet" href='http://fonts.googleapis.com/css?family=Dosis:400,700,600'/>
	<!-- Mobile specific meta -->
	<meta name=viewport content="width=device-width, initial-scale=1">
	<meta name="format-detection" content="telephone-no">

	<!-- CSS files -->
	<link rel="stylesheet" href="/css/plugins.css">
	<link rel="stylesheet" href="/css/style.css">

</head>
<body>
<!--preloading-->
<div id="preloader">
    <img class="logo" src="/images/logo1.png" alt="" width="119" height="58">
    <div id="status">
        <span></span>
        <span></span>
    </div>
</div>
<!--end of preloading-->


<!-- BEGIN | Header -->
<%- include('partials/_navigationrl') -%>
<!-- END | Header -->

<div class="hero common-hero1">
    <div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="hero-ct">
					<h1> SIGN-IN </h1>
                    <br><br>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="page-single-r row">
    <div class="col-md-4 col-xs-2"></div>
    <form method="POST" action="/sign-in" class="col-xs-8 col-md-4">
        <div class="row">
             <label for="username-2">
                Username
                <input type="text" name="userName" id="username-2" placeholder="reginaPhalange" required="required" />
            </label>
        </div>

        <div class="row">
            <label for="password-2">
                Password
                <input type="password" name="password" id="password-2" placeholder="Password" required="required" />
            </label>
        </div>
        <div>
            <% if(errors !== " ") { %>
                <% errors.forEach(function(item) { %>
                    <div class="alert alert-danger">
                        <%- item %>
                    </div>
                <% }) %>
            <% } %>
        </div>
       <div class="row">
         <button type="submit">Sign In</button>
       </div>
    </form>
    <div class="col-md-12 col-xs-12"></div>
    <div class="col-md-4 col-xs-2"></div>
    <div class="social-container row col-xs-8 col-md-4">
        <p>Or via social</p>
        <div class="social-btn-2">
            <a class="fb" href="/auth/facebook"><i class="ion-social-facebook"></i>Facebook</a>
            <a class="gl" href="/auth/google"><i class="ion-social-google"></i>Google</a>
        </div>
    </div>
</div>

<%- include('partials/_footer') -%>


<script src="/js/jquery.js"></script>
<script src="/js/plugins.js"></script>
<script src="/js/plugins2.js"></script>
<script src="/js/custom.js"></script>
</body>
</html>